# Compiled files
target/

# Rust specific
*.rs.bk

# Cargo specific files
Cargo.lock
Cargo.toml.orig
Cargo.lock.orig

# Build artifacts
*.dSYM/
*.swp

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Editor specific files
.vscode/
.idea/
